.balloon-wrapper {
  display: flex;
  flex-wrap: wrap;

  &-subtitle {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-btn {
      @include default-button;
    }
  }
}