.popup {
  @include flex-box;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  &__content {
    @include default-border;
    padding: 30px;
    background: #fff;
    overflow-y: auto;
    position: relative;

    &-img {
      @include default-border;
      width: fit-content;
      overflow: hidden;
      margin: 20px auto;
      display: flex;
      justify-content: center;
    }

    &-title {
      display: flex;
      justify-content: center;
    }

    &-text {
      text-indent: 1.5em;
    }

    &-close-btn {
      @include default-button;
      position: absolute;
      right: 10px;
      top: 10px;
      height: 30px;
    }

    .nfa-content {
      border-bottom: 2px solid black;
    }
  }
}